.bookDisplay {
    background: url('../../assets/Paomedia-Small-N-Flat-Book.svg') no-repeat;
    background-size: 127% 107%;
    height: 100%;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 40px;
    padding-right: 5px;
    padding-left: 5px;
}
